@font-face {
  font-family: Eina03;
  src: url(eina-03-bold.eot);
  src: url(eina-03-bold.eot?#iefix) format('embedded-opentype'),url(eina-03-bold.woff2) format('woff2'),url(eina-03-bold.woff) format('woff'),url(eina-03-bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: Eina03;
  src: url(eina-03-semibold.eot);
  src: url(eina-03-semibold.eot?#iefix) format('embedded-opentype'),url(eina-03-semibold.woff2) format('woff2'),url(eina-03-semibold.woff) format('woff'),url(eina-03-semibold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: Eina03;
  src: url(eina-03-regular.eot);
  src: url(eina-03-regular.eot?#iefix) format('embedded-opentype'),url(eina-03-regular.woff2) format('woff2'),url(eina-03-regular.woff) format('woff'),url(eina-03-regular.ttf) format('truetype');
  font-weight: 400;
}
