@font-face {
  font-family: Eina;
  src: url(eina-bold.eot);
  src: url(eina-bold.eot?#iefix) format('embedded-opentype'),url(eina-bold.woff2) format('woff2'),url(eina-bold.woff) format('woff'),url(eina-bold.ttf) format('truetype');
  font-weight: 700;
}
